<h1>SmogMobile</h1>
<h2>New Case</h2>
<ul>
  <li>
    <a href="case/new/">Submit a new case</a>
  </li>
</ul>
<hr />

<h2>Existing Case</h2>
<ul>
  <li>
    <a href="case/">Show status</a>
  </li>
  <li>
    <a href="image/new/">Upload a image</a>
  </li>
  <li>
    <a href="image/">Download a image</a>
  </li>
  <li>
    <a href="video/new/">Upload a video</a>
  </li>
  <li>
    <a href="video/">Download a video</a>
  </li>
  <li>
  	<a href="case/complete/">Complete reporting procedure</a>
  </li>
</ul>
